{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card-dark col-md-5">
    <h3 class="text-center mb-4 text-info">Login</h3>

    <form method="POST">
      <input class="form-control mb-3" name="email" placeholder="Email" required>
      <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>

      <button type="submit" class="btn btn-glow w-100">Login</button>
    </form>

    <p class="text-center mt-3">
      New user? <a href="{{ url_for('register') }}" class="text-info">Register</a>
    </p>
  </div>
</div>
{% endblock %}